@charset "UTF-8";

html {
    font-size: 62.5%;
    font-family: "Meiryo UI";
}  

.wrap {
    width: 90vw;
    margin: 0 auto;
    font-size: 1.6rem;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

@media screen and (max-width: 599px) {
    .header {
        display: block;
        text-align:center;
    }
}

.header .header_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 599px) {
    .header .header_title {
        justify-content: center;
    }
}

.logo {
    width: 8rem;
}

.title {
    width: 30rem;
}

@media screen and (max-width: 599px) {
    .title {
        width: 25rem;
    }
}

.phone {
    width: 20rem;
}

nav {
    text-align: center;
    background-color: #c2edf8;
}
     
nav ul {
    margin: 0;
    padding: 1rem;
}
     
nav ul li{
    list-style: none;
    display: inline-block;
    width: 15%;    
}

@media screen and (max-width: 599px) {
    nav ul li {
        width: 100%;
        text-align: left;
    }
}
     
nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    font-weight:  bold;
}
     
nav li:hover{
    border-bottom: 0.2rem solid #3744ff; 
}

@media screen and (max-width: 599px) {
    .nav_menu {
        display: none;
    }
}

.main_visual {
    text-align: center;
}   

.top_img {
    width: 50vw;
    height: 50vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
}   

@media screen and (max-width: 599px) {
    .top_img {
        width: 80vw;
    }
}

.contents_title {
    text-align: center;
    background-color: #c2edf8;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}  

.goods_contents {
    display: flex;
    justify-content: space-evenly;
} 

@media screen and (max-width: 599px) {
    .goods_contents {
        display: block;   
    } 
}

.goods_contents .goods_box {
    width: 20%;
}

@media screen and (max-width: 599px) {
    .goods_contents .goods_box  {
        width: 90%;
        margin: 0 auto;
    } 
}

.goods_contents .goods_box .goods_text_title {
    text-align: center;
    font-size: 2rem;
    font-weight:  bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
} 

.goods_img {
    width: 100%;
} 

.goods_contents .goods_box .goods_text {
    margin-top: 1rem;
    margin-bottom: 3rem;
} 

.pooinfo_contents {
    display: flex;
    flex-direction: column;
} 

.pooinfo_contents .pooinfo_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

.pooinfo_img {
    width: 40%;
    margin: 3rem;
} 

@media screen and (max-width: 599px) {
    .pooinfo_img {
        margin: 0;
    } 
}

.pooinfo_contents .pooinfo_box .pooinfo_text_box {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 599px) {
    .pooinfo_contents .pooinfo_box .pooinfo_text_box {
        margin-right: 0;
        margin-left: 0;
    } 
}

.pooinfo_contents .pooinfo_box .pooinfo_text_box .pooinfo_title {
    text-align: center;
    font-size: 2rem;
    font-weight:  bold;
    margin-top: 0;
    margin-bottom: 2rem;
}

.pooinfo_contents .pooinfo_box .pooinfo_text_box .pooinfo_text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pooinfo_contents .pooinfo_box_MOV {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 599px) {
    .pooinfo_contents .pooinfo_box_MOV {
        display: block;      
    }
}

.pooinfo_contents .pooinfo_box_MOV .pooinfo_text_box_MOV {
    width: 40%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 599px) {
    .pooinfo_contents .pooinfo_box_MOV .pooinfo_text_box_MOV {
        width: 90%;  
    }
}
.pooinfo_contents .pooinfo_box_MOV .pooinfo_text_box_MOV .pooinfo_title_MOV {
    text-align: center;
    font-size: 2rem;
    font-weight:  bold;
    margin-top: 0;
    margin-bottom: 2rem;
}

.pooinfo_contents .pooinfo_box_MOV .pooinfo_text_box_MOV .pooinfo_text_MOV {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pooinfo_contents .pooinfo_box_MOV .changestyle_MOV {
    width: 500px;
    margin: 3rem;
}

@media screen and (max-width: 599px) {
    .pooinfo_contents .pooinfo_box_MOV .changestyle_MOV {
        width: auto;  
    }
}

video {
    width: 100%;
}

.greeting_contents{
    width: 70vw;
    margin: 0 auto;
    word-break: normal;
    margin-TOP: 3rem;
    margin-bottom: 3rem;
}

.greeting_img{
    float: left;
    width: 25%;
    margin-right: 2rem;
}

@media screen and (max-width: 599px) {
    .greeting_img {
        width: 40%;  
    }
}

.notification_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-TOP: 1rem;
    margin-bottom: 1rem;
}

.notification_contents .notification_box{
    text-align: left;
}

.notification_contents .notification_box .notification_text{
    margin: 2rem;
}

.company_contents{
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    align-items: center;
}

@media screen and (max-width: 599px) {
    .company_contents {
        flex-direction: column-reverse;  
    }
}

.company_contents .company_text_box {
    display: flex;
    flex-direction: column;
}

.company_contents .company_text_box .company_title{
    font-size: 2rem;
    font-weight:  bold;
    margin-TOP: 1rem;
    margin-bottom: 1rem;
}

.company_contents .company_text_box .company_text{
    margin-TOP: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 599px) {
    iframe {
        width: 100%;
    }
}

.contact_contents{
    margin: 3rem;
}

@media screen and (max-width: 599px) {
    .contact_contents {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


.contact_contents .contact_form{
    width: 55%;
    margin: 0 auto;
}

@media screen and (max-width: 599px) {
    .contact_contents .contact_form {
        width: 100%;
    }
}

.contact_contents .contact_form .form_item,
.contact_contents .contact_form .form_input{
    padding: 1rem;
    background-color: #c2edf8;
    border: solid #32a1ce;
    text-align: center;
}

.contact_contents .contact_form .form_item{
    width: 30%;
    font-weight:  bold;
}

.contact_contents .contact_form .form_input{
    width: 70%;
}

input{
    width: 100%;
}

textarea {
    width: 100%;
  }

.contact_contents .btn_area {
    text-align: center;
    margin: 2rem;
}

.contact_contents .btn_area .submit_btn{
    width: 10rem;
    height: 4rem;
    background: #c2edf8;
    font-weight:  bold;
    border: solid #32a1ce;
    font-size: 2rem;
}

.nav_footer {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_footer .menu_list{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

@media screen and (max-width: 599px) {
    .nav_footer .menu_list {
        flex-direction: column;
        width: auto;
    }
}

.copyright {
    background-color: #FFFFFF;
    text-align: center
}